html{
  scroll-snap-type: y mandatory;
}

.App{
  background-color: rgb(5, 5, 5);
  height: 100vh;
  display: grid;
  place-items: center;
 
}

.app__videos{
  height: 100vh;
  max-height: 800px;
  width: 80%;
  max-width: 500px; 
  border: 1px solid black;
  border-radius: 20px ;
  overflow: scroll; /* componente que controla quando elementos são carregados em um quadro e estão excedendo o tamanho exemplo carregado dentro da div e esta passando  */
 scroll-snap-type: y mandatory;
 position: relative;
}

/* esconde a scroll bar no chome, safari e opera*/

.app__videos::-webkit-scrollbar{
  display: none;
}

/* esconde a scroll bar no internet explorer edge e firefox*/

.app__videos{
  -ms-overflow-style:none;
  scrollbar-width: none;
}